@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;600&display=swap');

html, body{
    height: 100%;
    background-size: 100%;
}
.slide1{
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    height: 100vh;
    background-image: url("./images1/bg1.jpg");
    position: relative;
    box-sizing: border-box;
    background-size: 100%;
    background-repeat: no-repeat;
    max-width: 1024px;
    min-width: 1024px;
    min-height: 768px;
    max-height: 768px;
}
.slide1__text{
    position: absolute;
    top: 20%;
    left: 5%;
}
.slide1__big_text{
    font-size: 500%;
}
.slide1__bold{
    font-weight: 600;
}
.slide1__pink{
    position: absolute;
    width: 55%;
    top: 16%;
    right: 13%;
}
.slide1__blue1{
    position: relative;
    top: 9%;
    width: 10%;
}
#slide1__blue2{
    width: 6%;
    position: absolute;
    right: 30%;
    top: 7%;
    animation: blue2 2s infinite linear alternate;
}
#slide1__blue3{
    width: 12%;
    position: absolute;
    top: 15%;
    right: 20%;
    animation: blue3 3s infinite linear alternate;
}
#slide1__pink2{
    width: 30%;
    bottom: 8%;
    left: 0px;
    position: absolute;
}
#slide1__blue5{
    width: 20%;
    bottom: 0px;
    right: 25%;
    position: absolute;
    animation: blue5 4s infinite linear alternate;
}
#slide1__blue5blurred{
    width: 10%;
    position: absolute;
    bottom: 10%;
    left: 35%;
}
#slide1__blue2blurred{
    width: 7%;
    position: absolute;
    right: 5%;
    top:5%;
}
#slide1__blue4{
    width: 8%;
    position: absolute;
    bottom: 35%;
    left: 0%;
    animation: blue2 3s infinite linear alternate;
}
#slide1__btn{
    height: 9.5%;
    position: absolute;
    bottom: 41%;
    left: 50%;
}

@keyframes blue2 {
    from{ 
        transform: translate(0%, 0%);
    }
    to{
        transform: translate(40%, 20%);
    }
}

@keyframes blue3 {
    from{ 
        transform: translate(30%, 40%);
    }
    to{
        transform: translate(-30%, -20%) rotate(90deg);
    }
}

@keyframes blue5 {
    from{ 
        transform: translateX(0%);
        width: 20%;
    }
    to{
        transform: translateX(-30%);
        width: 30%;
    }
}