@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;600&display=swap');

html, body{
    height: 100%;
    background-size: 100%;
}
.slide1{
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    height: 100vh;
    background-image: url("./images1/bg1.jpg");
    position: relative;
    box-sizing: border-box;
    background-size: 100%;
    background-repeat: no-repeat;
    min-width: 1024px;
    max-height: 768px;
}
.text__slide1{
    position: absolute;
    top: 20%;
    left: 5%;
}
.big_text__slide1{
    font-size: 500%;
}
.bold__slide1{
    font-weight: 600;
}
.pink__slide1{
    position: absolute;
    width: 55%;
    top: 16%;
    right: 13%;
}
.blue1__slide1{
    position: relative;
    top: 9%;
    width: 10%;
}
#blue2__slide1{
    width: 6%;
    position: absolute;
    right: 30%;
    top: 7%;
    animation: blue2 3s infinite linear alternate;
}
#blue3__slide1{
    width: 12%;
    position: absolute;
    top: 15%;
    right: 20%;
    animation: blue3 4s infinite linear alternate;
}
#pink2__slide1{
    width: 30%;
    bottom: 8%;
    left: 0px;
    position: absolute;
}
#blue5__slide1{
    width: 20%;
    bottom: 0px;
    right: 25%;
    position: absolute;
    animation: blue5 4s infinite linear alternate;
}
#blue5blurred__slide1{
    width: 10%;
    position: absolute;
    bottom: 10%;
    left: 35%;
}
#blue2blurred__slide1{
    width: 7%;
    position: absolute;
    right: 5%;
    top:5%;
}
#blue4__slide1{
    width: 8%;
    position: absolute;
    bottom: 35%;
    left: 0%;
    animation: blue2 3s infinite linear alternate;
}
#btn__slide1{
    height: 9.5%;
    position: absolute;
    bottom: 41%;
    
    left: 50%;
}
#icon{
    position: absolute;
    margin-left: 10%;
    margin-top: 3%;
    height: 4%;
}
#logo{
    position: absolute;
    left: 10%;
    height: 2%;
    bottom: 2%;
}

@keyframes blue2 {
    from{ 
        transform: translateX(0%);
    }
    to{
        transform: translateX(30%);
    }
}

@keyframes blue3 {
    from{ 
        transform: translateX(0%);
    }
    to{
        transform: translateX(-30%);
    }
}

@keyframes blue5 {
    from{ 
        transform: translateX(0%);
        size: 100%;
    }
    to{
        transform: translateX(-30%);
        size: 150%;
    }
}