@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

.slide2{
    background-image: url(./images2/bg2.png);
    background-size: 100%;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    overflow: hidden;
    max-width: 1024px;
    min-width: 1024px;
    min-height: 768px;
    max-height: 768px;
}
#icon{
    position: absolute;
    margin-left: 10%;
    margin-top: 3%;
    height: 4%;
}
#logo{
    position: absolute;
    left: 10%;
    height: 2%;
    bottom: 2%;
}
.slide2__header{
    font-size: 200%;
    font-weight: 400;
    margin-left: 10%;
    margin-top: 10%;
}

.slide2__scrollingarea{
    position: absolute;
    width: 80%;
    height: 58%;
    box-sizing: border-box;
    line-height: 150%;
    font-size: 150%;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
    direction: rtl;
    left: 10%;
    margin-top: 5%;
    padding: 3%;
    border-radius: 40px;
    
}
.slide2__block1{
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    width: 70%;
    height: 5%;
    left: 19%;
    top: 30.16%;
    position: absolute;
    border-radius: 100px;
}
.slide2__block2{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    width: 70%;
    height: 5%;
    left: 19%;
    top: 83.6%;
    position: absolute;
    border-radius: 100px;

}
.slide2__text{
    margin-left: 50px;
}
.slide2__txt_bg{
    width: 100%;
    position: absolute;
    bottom: 0.5%;
    left: 5%;
}
.slide2__scrollingarea .slide2__text{
    direction: ltr;
}
.slide2__scrollingarea::-webkit-scrollbar {
    width: 30px;
  }
  
  ::-webkit-scrollbar-track {
    background: linear-gradient(
      to left,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 35%,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0) 100%
    );
    border-radius: 47%;
  }
  .slide2__scrollingarea::-webkit-scrollbar-thumb {
    height: fit-content;
    background-color: rgb(219, 106, 172);
    border-radius: 100px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  }
#slide2__pink1{
    position: absolute;
    width: 60%;
    top: 18%;
    right: 0%;
    animation: pink2 12s forwards;
}
#slide2__pink2{
    position: absolute;
    width: 50%;
    top: 13%;
    right: -8%;
    animation: pink2 11s forwards;
}
#slide2__pink3{
    position: absolute;
    width: 30%;
    top: 10%;
    right: -4%;
    animation: pink2 13s forwards;
}
#slide2__pink4{
    position: absolute;
    width: 15%;
    bottom: 30%;
    right: 0%;
    animation: pink2 8s forwards;
}
#slide2__pink5{
    position: absolute;
    width: 15%;
    bottom: 16%;
    right: 0%;
    animation: pink2 8s forwards;
}

@keyframes pink2 {
    from{ 
        transform: translate(100%,70%);
        opacity: 0;
    }
    to{
        transform: translate(0%,0%);
        opacity: 1;
    }
}