@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

.slide2{
    background-image: url(./images2/bg2.png);
    background-size: 100%;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    overflow: hidden;
    min-width: 1024px;
    max-height: 768px;
}
#icon{
    position: absolute;
    margin-left: 10%;
    margin-top: 3%;
    height: 4%;
}
#logo{
    position: absolute;
    left: 10%;
    height: 2%;
    bottom: 2%;
}
.header__slide2{
    font-size: 200%;
    font-weight: 400;
    margin-left: 10%;
    margin-top: 10%;
}

.text__container__slide2{
    position: absolute;
    
    background-color: white;
    width: 70%;
    height: 60%;
    
    box-sizing: border-box;
    line-height: 150%;
    font-size: 150%;
    overflow: scroll;
    direction: rtl;
    left: 15%;
    margin-top: 5%;
    padding: 3%;
    border-radius: 40px;
    -webkit-box-shadow: 0px -4px 18px 9px rgba(34, 60, 80, 0.11);
    -moz-box-shadow: 0px -4px 18px 9px rgba(34, 60, 80, 0.11);
    box-shadow: 0px -4px 18px 9px rgba(34, 60, 80, 0.11);
    overflow-y: auto;
    overflow-x: hidden;
}
.text__container__slide2 .text__slide2{
    direction: ltr;
}
/* .text__container__slide2::-webkit-scrollbar{
    
    width: 10px;
    background-color: rgb(0, 0, 0);
    width: 2px;
}
.text__container__slide2::-webkit-scrollbar-thumb{
    width: 30px;
    background-image: url('./images2/scrollbar2.png');
}
 */




.text__container__slide2::-webkit-scrollbar {
    width: 30px;
  }
  
  ::-webkit-scrollbar-track {
    background: linear-gradient(
      to left,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 35%,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0) 100%
    );
    border-radius: 47%;

  }
  
  .text__container__slide2::-webkit-scrollbar-thumb {
    height: fit-content;
    /* background-image: url('./images2/scrollbar2.png'); */
    background-color: rgb(219, 106, 172);
    border-radius: 100px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  }








#pink1__slide2{
    position: absolute;
    width: 60%;
    top: 18%;
    right: 0%;
    animation: pink2 12s forwards;
}
#pink2__slide2{
    position: absolute;
    width: 50%;
    top: 13%;
    right: -8%;
    animation: pink2 11s forwards;
}
#pink3__slide2{
    position: absolute;
    width: 30%;
    top: 10%;
    right: -4%;
    animation: pink2 13s forwards;
}
#pink4__slide2{
    position: absolute;
    width: 15%;
    bottom: 30%;
    right: 0%;
    animation: pink2 8s forwards;
}
#pink5__slide2{
    position: absolute;
    width: 15%;
    bottom: 16%;
    right: 0%;
    animation: pink2 8s forwards;
}

@keyframes pink2 {
    from{ 
        transform: translate(100%,70%);
        opacity: 0;
    }
    to{
        transform: translate(0%,0%);
        opacity: 1;
    }
}